<a href="https://colab.research.google.com/github/NavidMulla/Python1/blob/main/Python_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import Pakages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dict2 = {'Navid':'32','Saliya':'22'}

In [3]:
dict2

{'Navid': '32', 'Saliya': '22'}

In [5]:
dict2['Navid']

'32'

In [6]:
dict[1]

TypeError: ignored

In [7]:
stats =pd.read_csv('/content/DemographicData.csv')

In [ ]:
t

In [11]:
stats.head(6)

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
5,Argentina,ARG,17.716,59.9,High income

In [12]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    195 non-null    object
 1   Country Code    195 non-null    object
 2   Birth rate      195 non-null    float64
 3   Internet users  195 non-null    float64
 4   Income Group    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [14]:
stats.describe()

       Birth rate  Internet users
count  195.000000      195.000000
mean    21.469928       42.076471
std     10.605467       29.030788
min      7.900000        0.900000
25%     12.120500       14.520000
50%     19.680000       41.000000
75%     29.759500       66.225000
max     49.661000       96.546800

In [15]:
stats.columns

Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')

In [16]:
stats.columns = ['CountryName', 'CountryCode', 'Birthrate', 'Internetusers',
       'IncomeGroup']

In [17]:
stats.columns

Index(['CountryName', 'CountryCode', 'Birthrate', 'Internetusers',
       'IncomeGroup'],
      dtype='object')

In [19]:
stats[3:8]

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
5,Argentina,ARG,17.716,59.9,High income
6,Armenia,ARM,13.308,41.9,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.4,High income

In [22]:
stats.columns[1:3]

Index(['CountryCode', 'Birthrate'], dtype='object')

In [24]:
stats.iloc[:,1:3].values

array([['ABW', 10.244],
       ['AFG', 35.253],
       ['AGO', 45.985],
       ['ALB', 12.877],
       ['ARE', 11.044],
       ['ARG', 17.716],
       ['ARM', 13.308],
       ['ATG', 16.447],
       ['AUS', 13.2],
       ['AUT', 9.4],
       ['AZE', 18.3],
       ['BDI', 44.151],
       ['BEL', 11.2],
       ['BEN', 36.44],
       ['BFA', 40.551],
       ['BGD', 20.142],
       ['BGR', 9.2],
       ['BHR', 15.04],
       ['BHS', 15.339],
       ['BIH', 9.062],
       ['BLR', 12.5],
       ['BLZ', 23.092],
       ['BMU', 10.4],
       ['BOL', 24.236],
       ['BRA', 14.931],
       ['BRB', 12.188],
       ['BRN', 16.405],
       ['BTN', 18.134],
       ['BWA', 25.267],
       ['CAF', 34.076],
       ['CAN', 10.9],
       ['CHE', 10.2],
       ['CHL', 13.385],
       ['CHN', 12.1],
       ['CIV', 37.32],
       ['CMR', 37.236],
       ['COG', 37.011],
       ['COL', 16.076],
       ['COM', 34.326],
       ['CPV', 21.625],
       ['CRI', 15.022],
       ['CUB', 10.4],
       ['CYM', 12.5],
       ['CYP', 11.436],
       ['CZE', 10.2],
       ['DEU', 8.5],
       ['DJI', 25.486],
       ['DNK', 10.0],
       ['DOM', 21.198],
       ['DZA', 24.738],
       ['ECU', 21.07],
       ['EGY', 28.032],
       ['ERI', 34.8],
       ['ESP', 9.1],
       ['EST', 10.3],
       ['ETH', 32.925],
       ['FIN', 10.7],
       ['FJI', 20.463],
       ['FRA', 12.3],
       ['FSM', 23.511],
       ['GAB', 30.555],
       ['GBR', 12.2],
       ['GEO', 13.332],
       ['GHA', 33.131],
       ['GIN', 37.337],
       ['GMB', 42.525],
       ['GNB', 37.503],
       ['GNQ', 35.362],
       ['GRC', 8.5],
       ['GRD', 19.334],
       ['GRL', 14.5],
       ['GTM', 27.465],
       ['GUM', 17.389],
       ['GUY', 18.885],
       ['HKG', 7.9],
       ['HND', 21.593],
       ['HRV', 9.4],
       ['HTI', 25.345],
       ['HUN', 9.2],
       ['IDN', 20.297],
       ['IND', 20.291],
       ['IRL', 15.0],
       ['IRN', 17.9],
       ['IRQ', 31.093],
       ['ISL', 13.4],
       ['ISR', 21.3],
       ['ITA', 8.5],
       ['JAM', 13.54],
       ['JOR', 27.046],
       ['JPN', 8.2],
       ['KAZ', 22.73],
       ['KEN', 35.194],
       ['KGZ', 27.2],
       ['KHM', 24.462],
       ['KIR', 29.044],
       ['KOR', 8.6],
       ['KWT', 20.575],
       ['LAO', 27.051],
       ['LBN', 13.426],
       ['LBR', 35.521],
       ['LBY', 21.425],
       ['LCA', 15.43],
       ['LIE', 9.2],
       ['LKA', 17.863],
       ['LSO', 28.738],
       ['LTU', 10.1],
       ['LUX', 11.3],
       ['LVA', 10.2],
       ['MAC', 11.256],
       ['MAR', 21.023],
       ['MDA', 12.141],
       ['MDG', 34.686],
       ['MDV', 21.447],
       ['MEX', 19.104],
       ['MKD', 11.222],
       ['MLI', 44.138],
       ['MLT', 9.5],
       ['MMR', 18.119],
       ['MNE', 11.616],
       ['MNG', 24.275],
       ['MOZ', 39.705],
       ['MRT', 33.801],
       ['MUS', 10.9],
       ['MWI', 39.459],
       ['MYS', 16.805],
       ['NAM', 29.937],
       ['NCL', 17.0],
       ['NER', 49.661],
       ['NGA', 40.045],
       ['NIC', 20.788],
       ['NLD', 10.2],
       ['NOR', 11.6],
       ['NPL', 20.923],
       ['NZL', 13.12],
       ['OMN', 20.419],
       ['PAK', 29.582],
       ['PAN', 19.68],
       ['PER', 20.198],
       ['PHL', 23.79],
       ['PNG', 28.899],
       ['POL', 9.6],
       ['PRI', 10.8],
       ['PRT', 7.9],
       ['PRY', 21.588],
       ['PYF', 16.393],
       ['QAT', 11.94],
       ['ROU', 8.8],
       ['RUS', 13.2],
       ['RWA', 32.689],
       ['SAU', 20.576],
       ['SDN', 33.477],
       ['SEN', 38.533],
       ['SGP', 9.3],
       ['SLB', 30.578],
       ['SLE', 36.729],
       ['SLV', 17.476],
       ['SOM', 43.891],
       ['SRB', 9.2],
       ['SSD', 37.126],
       ['STP', 34.537],
       ['SUR', 18.455],
       ['SVK', 10.1],
       ['SVN', 10.2],
       ['SWE', 11.8],
       ['SWZ', 30.093],
       ['SYC', 18.6],
       ['SYR', 24.043],
       ['TCD', 45.745],
       ['TGO', 36.08],
       ['THA', 11.041],
       ['TJK', 30.792],
       ['TKM', 21.322],
       ['TLS', 35.755],
       ['TON', 25.409],
       ['TTO', 14.59],
       ['TUN', 19.8],
       ['TUR', 16.836],
       ['TZA', 39.518],
       ['UGA', 43.474],
       ['UKR', 11.1],
       ['URY', 14.374],
       ['USA', 12.5],
       ['UZB', 22.5],
       ['VCT', 16.306],
       ['VEN', 19.842],
       ['VIR', 10.7],
       ['VNM', 15.537],
       ['VUT', 26.739],
       ['PSE', 30.394],
       ['WSM', 26.172],
       ['YEM', 32.947],
       ['ZAF', 20.85],
       ['COD', 42.394],
       ['ZMB', 40.471],
       ['ZWE', 35.715]], dtype=object)

In [36]:
stats.iloc[0:2,3:5]

   Internetusers  IncomeGroup
0           78.9  High income
1            5.9   Low income

In [43]:
stats.iloc[2:6:3,1:4:2]

  CountryCode  Internetusers
2         AGO           19.1
5         ARG           59.9

In [44]:
stats.iloc[[2,5],[1,3]]

  CountryCode  Internetusers
2         AGO           19.1
5         ARG           59.9